# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.spec

# Application Specific
CdiResource/
DiskInfo64.exe
DiskInfo.txt
DiskInfo.ini
Smart/
app_error.log
*_Hard_drive_summary.csv

# Packaging folders
Package/
ReleaseFolder/
*.zip

# Configuration
config.json

# IDEs
.vscode/
.idea/
*.swp
*.swo
